body{
    font-family: 'Montserrat', sans-serif;
}


h1{
    text-align: center;
    padding: 50px;
}


#filterBox div{
    border: 0px;
    display: inline;
}

#container {
    margin: auto;
}

#container ,thead{
    text-align: center;
}

#container ,tbody{
    width:960px;
    border: 0px;
}


.clsform{
    margin:auto;
    display: flex;
    justify-content: center;
    padding:50px;
}

.axis path,
		.axis line {
		  fill: none;
		  stroke: slategray;
		  shape-rendering: crispEdges;
		}

/*.svg-container {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding-bottom: 100%;*/
/*    vertical-align: top;*/
/*    overflow: hidden;*/
/*}*/
/*.svg-content {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/