{% extends 'layout.html' %}
{% block content %}
    <label> Sort in order <input type="checkbox"></label>
    <div id="bar"></div>
    {% block javascript %}
        <script type="text/javascript">

        let data = [{'year': 2000, 'sales': 22, 'format':'£ m'}
                    ,{'year': 2001, 'sales': 53, 'format':'£ m'}
                    ,{'year': 2002, 'sales': 70, 'format':'£ m'}
                    ,{'year': 2003, 'sales': 92, 'format':'£ m'}
                    ,{'year': 2004, 'sales': 101, 'format':'£ m'}
                    ,{'year': 2005, 'sales': 17, 'format':'£ m'}
                    //,{'year': 2006, 'sales': 10, 'format':'£ m'}
                    ,{'year': 2007, 'sales': 39, 'format':'£ m'}
                    ,{'year': 2008, 'sales': 65, 'format':'£ m'}
                    ,{'year': 2009, 'sales': 52, 'format':'£ m'}
                    ,{'year': 2010, 'sales': 47, 'format':'£ m'}
                    ,{'year': 2011, 'sales': 23, 'format':'£ m'}
                    ,{'year': 2012, 'sales': 11, 'format':'£ m'}
        ];

        function alter_dataset(){
            data.push({'year': Math.round(Math.random() * (2099 - 2013) + 2013), 'sales':Math.round(Math.random()*159), 'format':'£ m'})
        }

        alter_dataset()


        // year date parser

        let parseDate = d3.time.format('%Y').parse;

        // reformat data

        data.forEach(function(d,i ){
            d.year = parseDate(d.year.toString())
            d.sales = +d.sales
            d.order = i
        })

        // variables

        let width = 500
        ,height = 500
            , margin =  {'top':20,'bottom':20, 'left':20, 'right':20}
        ,bar_padding = 2
        ,bar_width = Math.round((width / data.length), 0)
        ,animateDelay = 100
        ,animateDuration = 200
        ,colorArray = ['#3182bd','ghostwhite','#000434','#73000d','#003f5c','#374c80','#ff764a']
        ;

        // canvas

        let canvas = d3.select('#bar')
                        .append('svg')
                        .attr('width', width)
                        .attr('height', height + margin.bottom)
                        .attr('transform','translate(100, 100)')
                        .attr('overflow','visible')
        ;

        // x & y scales

        let yScale = d3.scale.linear()
                    .range([0, height]);
            xScale = d3.scale.ordinal()
                             .rangeRoundBands([0, width],0.1);

        // x & y domains

        xScale.domain(data.map(function(d){return d.year}));
        yScale.domain(d3.extent(data, function(d) { return d.sales; })).range([0, height]).nice();

        // x & y axis
        x = xScale.domain(data.map(function (d){return d.year.getFullYear()}));
        xAxis = d3.svg.axis()
                    .scale(x)
                    .orient('bottom')
                    .tickValues(data.map(function (d){return d.year.getFullYear()}));

        // general update pattern

        function general_update_pattern(data) {
            // update
            const bars = canvas.selectAll('rect').data(data);

            // exit
            bars.exit().remove();

            // enter
            const new_rects = canvas.selectAll('rect')
                .data(data)
                .enter()
                .append('rect')
                .attr('fill', 'none')
                .attr('width', 0)
                .attr('height', 0)
                .transition()
                .delay(animateDelay)
                .duration(function (d, i) {
                    return i * animateDuration
                })
                .ease('elastic')
                .attr('x', function (d, i) {
                    return xScale(d.year.getFullYear())
                })
                .attr('y', function (d) {
                    return height - yScale(d.sales)
                })
                .attr('width', function (d) {
                    return xScale.rangeBand()
                })
                .attr('height', function (d) {
                    return yScale(d.sales)
                })
                .attr('fill', colorArray[Math.round(Math.random() * 6)])
                .style('stroke', '#3182bd')
                .style('stroke-width', 0.5);



            // add bar title
            canvas.selectAll('rect').append('title')
                     .text(function(d){return d.sales});

            // call xAxis

           canvas.append('g').attr('class','axis')
                    .attr('transform','translate(0,'+ height +')')
                    .attr('fill','black')
                    .attr('font-size','10')
                    .call(xAxis)
            ;

            // add bar labels
            function getLabel() {
                        canvas.selectAll('.bar_labels')
                                .data(data);

                        canvas.selectAll('.bar_labels')
                                .attr('class','bar_labels')
                                .data(data)
                                .enter()
                                .append('text')
                                .attr('x', function (d, i) {
                                return i  * bar_width + (bar_width / 2)
                                 })
                                .attr('y', function (d) {
                                    return height - yScale(d.sales) - 5
                                })
                                .attr('fill', 'black')
                                .attr('font-size',10)
                                .attr('font-style','bold')
                                .text(function(d){return d.sales})
                                .on('mouseover', function(d){return d3.select(this).attr('font-size',12).attr('fill','#73000d')})
                                .on('mouseout', function(d){return d3.select(this).attr('font-size',10).attr('fill','black')})
                                ;

            }
            getLabel()
        }



        // sort animation
         d3.select('input').on('change', toggleSort);

                            function toggleSort() {

                                let sortComparer;
                                if (this.checked) {

                                    sortComparer = function (a, b) {
                                        return b.sales - a.sales

                                    }
                                } else {
                                    sortComparer = function (a, b) {
                                        return a.order - b.order

                                    }

                                }

                                data.sort(sortComparer);
                                const yearOrder = data.map(function (d){return d.year})
                                xScale.domain(yearOrder)
                                yScale.domain(d3.extent(data, function(d) { return d.sales; })).range([0, height]).nice();
                                canvas.transition().selectAll('rect')
                                .attr('x', function (d, i) { return xScale(d.year) });
                                canvas.transition().selectAll('text')
                                .attr('x', function (d, i) { return xScale(d.year) + i })
                                .attr('y', function (d) {
                                            return height - yScale(d.sales) - 5
                                        })
                                        .attr('fill', 'black')
                                        .attr('font-size', 10)
                                        .attr('font-style', 'bold')
                                        .text(function (d) {
                                            return d.sales
                                        })
                                    ;

                                                // call xAxis

                x = xScale.domain(data.map(function (d){return d.year.getFullYear()}));
                xAxis = d3.svg.axis()
                            .scale(x)
                            .orient('bottom')
                            .tickValues(data.map(function (d){return d.year.getFullYear()}));

               canvas.append('g').attr('class','axis')
                        .attr('transform','translate(0,'+ height +')')
                        .attr('fill','black')
                        .attr('font-size','10')
                        .call(xAxis)
                ;
                            }

                                general_update_pattern(data);
        </script>
    {% endblock javascript %}
{% endblock content %}