{% extends 'layout.html' %}
{% block content %}
    <h1>D3 Covid-19 Dashboard</h1>
    <form>
    <fieldset>
        <div class="form-control">
            {{form.country_name.label() }}
            {{form.country_name(class="selectpicker", id='ctry')}}
        </div>
        <div>
            <label>Date Reported</label>
            <input type="date">
        </div>
    </fieldset>

    </form>
    {% block javascript %}
        <script type="text/javascript">

        data_scope = {{ covid_data | safe }}
            selected_country = "{{ sc_code }}"

            function set_selected_country(country) {
                let cObj = document.getElementById('ctry');
                cObj.value = country
                }
            set_selected_country(selected_country)

        cObj = document.getElementById('ctry')
        cObj.onchange = function (){
            var country = cObj.value
            set_selected_country(country)
        }


        data = data_scope.filter(function (e) { return e['country_code'] ===  selected_country  })

        var height = 100
            , width = 500
            , bar_gap = 4
            , bar_width = width/data.length
        ;

        min_data_value = d3.min(data, function(d){
          return d['cases']
        })

        max_data_value = d3.max(data, function(d){
          return d['cases']
        })

        yscale = d3.scale.linear()
                .domain([min_data_value, max_data_value])
                .range([height,0])
                ;

        xscale = d3.scale.ordinal()
                .domain(data.map(function(d) { return d['date_reported']; }))
                .rangeRoundBands([0, width], .1)
        ;

        var canvas = d3.select('body')
                        .append('svg')
                        .attr('width', width)
                        .attr('height', height)
                        .attr('overflow', 'visible')
        ;

        canvas.selectAll('rect')
                .data(data)
                .enter()
                .append('rect')
                .attr('y', function(d) {return yscale(d['cases'])})
                .attr('x', function (d) {return xscale(d['date_reported'])})
                .attr('height', function(d) {return height - yscale(d['cases'])})
                .attr('width', xscale.rangeBand())
                .attr('fill', '#3182bd')
                .append('title')
                .text(function(d, i){return d['cases']})
                ;

        </script>
    {% endblock javascript %}
{% endblock content %}